<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>C++ Toolkit documentation TEST - {{ page.organization-name }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/toolkit.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/ptbooks.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/for-ie-only.css">
    <![endif]-->
</head>

<body class=" CppTkbPage">
    <div class="grid">
            <div class="wrap">
                <div class="page">
                    
                    <!--/.header-->
                    <!-- div class="header">
                        SEARCH BAR / HEADER
                    </div -->
                    <header class="header cf" role="banner">
                        {% include header.html %}
                    </header>

                    <!-- was itemctrl -->
                    <div class="container">
                        <div id="maincontent" class="content">
   
                                <div class="content">

                                        {{ content }}
 


                                </div>

                        </div><!--/.content-->
                    </div><!--/.container-->
                    
                    <div id="tkb_internal" class="sidebar">{% include nav.html %}</div>

                    <footer class="footer cf" role="contentinfo">
                        <div class="wrap">
                            {% include footer.html %}
                        </div>
                    </footer>
                    <!--/.footer-->

                </div>
                <!--/.page-->
            </div>
            <!--/.wrap-->
            


    </div>

 

</body>
</html>
